@use "./variables" as *;

@mixin mobile {
    @media (max-width: $bp-tablet) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $bp-desktop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $bp-desktop) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}